h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}

html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background:#fff;
  overflow-x: hidden;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.main-content {
  position: relative;
}
/*-------HEADER SECTION------*/
/* ----STICKY HEADER----*/
.sticky-header{
  position: fixed;
  top: 0;
  left:0px;
  width: 100%;
  z-index: 100;
}
.header-section {
  background:#FFF;
  box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
  -o-box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.21);
}
.header-section::after {
  clear: both;
  display: block;
  content: '';
}
.header-left {
  float: left;
  width: 45%;
}
.header-right {
  float: right;
}
/* ----menu-icon----*/
button#showLeftPush {
  font-size: 1.5em;
  width: 80px;
  padding: 0.87em 0;
  text-align: center;
  cursor: pointer;
  float: left;
  color: #6F6F6F;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
	border: none;
  background-color: #fff;
	outline:none;
}
button#showLeftPush:hover {
  color: #6164C1;
}
/*--push-menu-css--*/
.cbp-spmenu {
	position: fixed;
}
.cbp-spmenu-vertical {
  width: 309px;
  height: 100%;
  top: 76px;
  z-index: 1000;
  background-color:#eea02b;
	padding: 2em 0;
}
.cbp-spmenu-left {
    left: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: -309px;
}
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
}
.cbp-spmenu-push-toright {
	left: 0;
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cbp-spmenu-push div#page-wrapper {
  margin: 0em 0 0 19.3em;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
}
.cbp-spmenu-push.cbp-spmenu-push-toright div#page-wrapper {
  margin: 0;
}
/*--//push-menu-css--*/
/*--side-menu--*/
.sidebar ul li{
	margin-bottom: 1em;
}
.sidebar ul li a {
  color: #FFFFFF;
  font-size: 1em;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #F2B33F;
}
.sidebar .arrow {
  float: right;
}
i.nav_icon {
  margin-right: 1em;
	font-size: 1.1em;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span.nav-badge {
  font-size: 12px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.32);
  width: 25px;
  height: 25px;
  border-radius: 68%;
  -webkit-border-radius: 68%;
  -moz-border-radius: 68%;
  -o-border-radius: 68%;
  position: absolute;
  top: 18%;
  right: 15%;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
}
span.nav-badge-btm {
  font-size: 12px;
  color: #FFF;
  background: #F2B33F;
  position: absolute;
  top: 18%;
  right: 15%;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0em 1em;
}

/*--//side-menu--*/
/* ----Logo----*/
.logo {
  background: #f1b458;
  text-align: center;
  float: left;
}
.logo a{
  padding: 0.9em 3.3em .7em;
	display: block;
	text-decoration: none;
}
.logo a h1 {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 700;
}
.logo a span {
  color: #F8F8F8;
  font-size: .7em;
  text-align: center;
  letter-spacing: 7px;
}
/* ----//Logo----*/

/********* profile details **********/

.profile_details {
  float: right;
}
.profile_details_drop .fa.fa-angle-up{
	display:none;
}
.profile_details_drop.open .fa.fa-angle-up{
  display:block;
}
.profile_details_drop.open .fa.fa-angle-down{
	display:none;
}
.profile_details_drop a.dropdown-toggle {
  display:block;
	padding: 0.8em 3em 0 1em;
}
.loginbtn {
  display:block;
  padding: 0.8em 3em 0.8em 1em;
}
.profile_img{
	float:left;
}

.profile_details ul li{
	list-style-type:none;
	position:relative;
}
.profile_details li a i.fa.lnr {
  position: absolute;
  top: 34%;
  right: 8%;
  color: #4F52BA;
  font-size: 1.6em;
}

/*---footer---*/
.footer {
  background: #fff;
  padding: 1em;
  width: 100%;
  text-align:center;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-ms-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
	-o-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
}
.footer  p {
	color: #7A7676;
  font-size: 1em;
	line-height: 1.6em;
}
.footer  p a{
	color:#E94E02;
}
.footer  p a:hover{
	text-decoration:underline;
}
/*---//footer---*/

/*---- responsive-design -----*/

@media(max-width:1080px) {
  .logo a {
      padding: 0.9em 2.35em .7em;
  }
  .header-left {
      width: 36%;
  }
  .cbp-spmenu-vertical {
      width: 278px;
  }
  .cbp-spmenu-push div#page-wrapper {
    margin:0 0 0 17.4em;
  }
  .sidebar ul li {
      margin-bottom: 0.8em;
  }
}

@media(max-width:900px) {
  .logo a {
      padding: 0.95em 1.95em .7em;
  }
  .logo a span {
      letter-spacing: 5px;
  }
  .profile_details_drop a.dropdown-toggle {
      padding: 0.8em 2em 0 1em;
  }
  button#showLeftPush {
      width: 65px;
  }
  .cbp-spmenu-vertical {
      padding: 1.5em 0;
  	width: 231px;
  }
  .sidebar ul li a {
      font-size: 0.9em;
  }
  .sidebar .nav-second-level li a {
      font-size: .8em !important;
  }
  .cbp-spmenu-push div#page-wrapper {
      margin: 0 0 0 14.5em;
  }
}

@media(max-width:768px) {
  .navbar-nav > li > a {
    padding: 15px 20px;
  }
  .logo a {
      padding: 1.1em 1.3em .7em;
  }
  .logo a h1 {
      font-size: 1.2em;
  	line-height:1em;
  }
  .logo a span {
      font-size: .6em;
  }

  .sidebar .navbar-collapse.collapse {
      display: block;
  }
  .header-left {
      width: 36%;
  }
  .header-right {
      float: none;
      width: 100%;
      padding: 0;
      margin-top: 1em;
  }
  .header-right i.fa{
      font-size: .9em;
    margin-right: 0.2em;
  }
  button#showLeftPush {
      padding: 0.73em 0;
  }

  .profile_details_drop a.dropdown-toggle {
      padding: 0.6em 2em 0 1em;
  }
  .profile_details li a i.fa.lnr {
      top: 28%;
  }
  .cbp-spmenu-vertical {
      padding: 1em 0;
      width: 201px;
      top: 69px;
  }
  .cbp-spmenu-push div#page-wrapper {
      margin: 0;
      padding: 10.5em 1em 2em;
  }
  .cbp-spmenu-left.cbp-spmenu-open {
  	left:0
  }
  .cbp-spmenu-vertical {
  	left: -309px;
  }
}

@media(max-width:640px) {
  .sidebar .navbar-collapse.collapse {
      display: block;
  }
  .header-left {
      width: 36%;
  }
  .header-right {
      float: none;
      padding: 0;
      margin-top: 1em;
  }
  .profile_details_drop a.dropdown-toggle {
      padding: 0 3em 0 0;
  }
  .header-right i.fa{
      font-size: .9em;
  	margin-right: 0.2em;
  }
  .profile_details li a i.fa.lnr {
      top: 14%;
  }
  .footer p {
      font-size: 0.9em;
  }
}

@media(max-width:480px) {
  .navbar-nav > li > a {
    padding: 7px 20px;
  }
  .header-left {
      width: 100%;
      float: none;
  }
  .logo a {
      padding: 1em 1.38em .6em;
  }
  .logo a span {
      font-size: .55em;
  }
  .cbp-spmenu-vertical {
      top: 67px;
  }
  
  .sidebar .nav-second-level li a {
      padding-left: 40px !important;
  }
  ul.nav.nav-second-level li a {
      padding: 8px 15px;
  }
  span.nav-badge-btm {
      font-size: 11px;
      padding: 0 0.7em;
  }
  span.nav-badge {
      font-size: 10px;
      width: 23px;
      height: 23px;
      line-height: 23px;
  }
  .sidebar ul li {
      margin-bottom: 0.6em;
  }
}

@media(max-width:320px) {
  .logo a {
      padding: 0.9em 1em .3em;
  }
  .logo a h1 {
      font-size: 1em;
  	line-height: 0.7em;
  }
  .logo a span {
      letter-spacing: 4px;
  	font-size: .5em;
  }
  button#showLeftPush {
      width: 51px;
  }
  i.fa.fa-bars {
      font-size: 0.8em;
  }
  button#showLeftPush {
      padding: 0.4em 0;
  }
  .header-right {
      margin-top: 0.5em;
  }
  .header-right i.fa {
      margin-right: 0;
  }
  .profile_details_drop a.dropdown-toggle {
      padding: 0 1.5em 0 0;
  }
  .profile_img span.prfil-img {
      width: 32%;
  }
  .profile_img span.prfil-img img {
      width: 100%;
  }
  .profile_details li a i.fa.lnr {
      top: 8%;
  }
  .cbp-spmenu-vertical {
      padding: 0.5em 0;
      width: 161px;
      top: 52px;
  }
  i.nav_icon {
      margin-right: 0.7em;
      font-size: 1em;
  }
  .sidebar ul li a {
      font-size: 0.85em;
      padding: 5px 10px;
  }
  span.nav-badge {
      font-size: 8px;
      width: 21px;
      height: 20px;
      line-height: 21px;
  }
  span.nav-badge-btm {
      font-size: 9px;
      padding: 0 0.8em;
      line-height: 18px;
      top: 22%;
  }
  ul.nav.nav-second-level li a {
      padding: 5px 32px;
  }
  .cbp-spmenu-push div#page-wrapper {
      padding: 8.2em 1em 1.5em;
  }
}